## Lists

Create a list, called "Numbers". Let it contain the numbers 10, 25, 40, and 50.

In [1]:
Numbers = [10,25,40,50]

40

Print the element at index 2 from the list.

In [2]:
print(Numbers[2])

10

Print the 0th element.

In [3]:
print(Numbers[0])

10

Print the third-to-last element using a minus sign in the brackets.

In [10]:
print(Numbers[-2:])

[40, 50]

Substitute the number 10 with the number 15.

In [12]:
Numbers[0] = 15

Delete the number 25 from the Numbers list.

In [11]:
del Numbers[1]

## List Slicing

In [1]:
Numbers = [15, 40, 50, 100, 115, 140]

Using list slicing, obtain the numbers 100 and 115.

In [2]:
Numbers[3:5]

[100, 115]

Using slicing, extract the first four elements from the list.

In [3]:
Numbers[:4]

[15, 40, 50, 100]

Using slicing, extract all the elements from the list from the 3rd position onwards.

In [4]:
Numbers[3:]

[100, 115, 140]

Using slicing, extract the last 4 elements from the list.

In [5]:
Numbers[-4:]

[50, 100, 115, 140]

Which is the position of the value 15?

In [6]:
Numbers.index(15)

0

Create a list, called "Two_Numbers". Let its elements be the values 1 and 2. Then, create a new one, named "All_Numbers", that will containt both the "Numbers" and the "Two_Numbers" lists.

In [7]:
Numbers = [15, 40, 50, 100, 115, 140]
Two_Numbers = [1,2]
All_Numbers = [Two_Numbers, Numbers]

Sort all the numbers in the "Numbers" list from the largest to the smallest.

In [8]:
Numbers.sort(reverse=True)