## All in - Conditional Statements, Functions, and Loops

Create a For loop that will print all the variables from a given list multiplied by 2. Let the list contain all numbers from 1 to 10. Create it with the help of the range() function.

In [1]:
for n in range(1,11):
    print(n*2)

2
4
6
8
10
12
14
16
18
20

Create a little program that runs a loop over all values from 1 to 30. Let it print all Odd numbers, and in the place of the even numbers, it should print "Even".
Help yourself with the range() function to solve this exercise.

In [2]:
for n in range(1,31):
    if n % 2 == 1:
        print(n, end=" ")
    else:
        print('Even', end=" ")

1 Even 3 Even 5 Even 7 Even 9 Even 11 Even 13 Even 15 Even 17 Even 19 Even 21 Even 23 Even 25 Even 27 Even 29 Even

You have the following list of numbers. Iterate over this list, printing out each list value multiplied by 10.
Find two solutions of this problem.

In [3]:
n = [1,2,3,4,5,6]

In [4]:
for x in n:
    print(x*10, end=" ")

10 20 30 40 50 60

You are provided with the 'nums' list. Complete the code in the cell that follows. Use a while loop to count the number of values lower than 20. 
*Hint: This exercise is similar to what we did in the video lecture. You might prefer using the x[item] structure for indicating the value of an element from the list.*

In [5]:
nums = [1,12,24,31,51,70,100]

In [6]:
def count(numbers):
    numbers = sorted(numbers)
    tot = 0
    while numbers[tot] < 20:
        tot += 1
    return tot
count(nums)

2